.filterRow {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;

  padding: 20px;

  border-bottom: 1px solid #e5e6ea;
}

@media (max-width: 767px) {
  .filterRow {
    gap: 8px;
    padding: 12px 10px;
  }
}
