.player {
  position: relative;
}

.rotateBlock {
  position: absolute;
  bottom: 15%;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hintIcon {
  position: absolute;
  right: 32px;
  bottom: 32px;

  color: #fff;

  transition: all 0.2s linear;

  .hintIconInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 46px;
    width: 46px;
    background-color: #ac5331;

    border-radius: 50%;

    cursor: pointer;

    > div {
      font-size: 10px;
      margin-top: -2px;
      font-weight: 600;
    }

    &:hover {
      background-color: rgb(131, 63, 37, 31);
    }
  }
}

.shareIcon {
  position: absolute;
  right: 32px;
  bottom: 32px;

  display: flex;
  align-items: center;
  gap: 8px;

  color: #fff;

  padding: 8px 16px;
  border-radius: 50px;
  background-color: #ac5331;

  cursor: pointer;
}

.generateBtn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 32px;

  display: flex;
  align-items: center;
  gap: 8px;

  color: #fff;

  padding: 8px 16px;
  border-radius: 50px;
  background-color: #ac5331;

  cursor: pointer;
}
