.stepNavigationBar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px;
  border-top: 1px solid var(--border-main-color);
  border-bottom: 1px solid var(--border-main-color);
}

.stepNavigationBar_title {
  display: flex;
  align-items: center;

  color: #282828;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;

  span {
    display: flex;
    align-items: center;
    padding: 8px;

    cursor: pointer;

    &:hover {
      svg {
        fill: c2826d;
      }
    }
  }
}

.stepForward,
.stepBack {
  cursor: pointer;
}

.stepForward,
.stepBack {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .stepNavigationBar {
    padding: 14px 16px;
  }

  .stepNavigationBar_title {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
  }
}
