.createModel {
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 0;

  .selectArea {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 195px;
    aspect-ratio: 1 / 1;

    background-color: #fbfaf9;
    border-radius: 5px;

    cursor: pointer;
    border: 1px solid transparent;
  }

  .title {
    color: #282828;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px; /* 116.667% */
    overflow-wrap: anywhere;
  }

  .desc {
    color: #282828;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px; /* 116.667% */
    overflow-wrap: anywhere;
  }

  &:hover {
    .selectArea {
      border: 1px solid #ac5331;
    }
  }
}

@media (max-width: 1390px) {
  .selectArea {
    width: 100% !important;
    height: auto !important;
  }
}

@media (max-width: 767px) {
  .createModel {
    .title,
    .desc {
      font-size: 10px;
      line-height: 12px;
    }
  }
}
