.optionsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;

  height: 100%;
  max-height: 300px;
  overflow-y: auto;
}

@media (max-width: 1400px) {
  .optionsGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.optionImage {
  border: 1px solid transparent;
  border-radius: 5px;

  cursor: pointer;

  img {
    border-radius: 5px;
    width: 100%;
  }
}

.message {
  display: flex;
  width: 560px;
  padding: 20px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  color: #ac5331;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */

  height: 100%;
}
