.homePageWrap {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}

/* Main content block */
.content {
  position: relative;

  flex: 1;
  display: grid;
  grid-template-columns: 1fr 670px;
  gap: 0;
  height: calc(100vh - var(--header-height) - var(--banner-height));
  overflow: hidden;

  @media (max-width: 1400px) {
    grid-template-columns: 1fr 515px;
  }

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

/* Player area */
.content :global(.playerWrap) {
  position: relative;
  background: #f8f8f8;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  canvas,
  img,
  .render-area {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

/* Sidebar area */
.content :global(.configuratorSidebar) {
  background: #fff;
  border-left: 1px solid #e5e5e5;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 24px;

  scrollbar-gutter: stable;
}

.navWrap {
  position: absolute;
  right: 0%;

  height: 100%;
  padding: 32px;
  z-index: 100;

  border-left: 1px solid #e5e6ea;
  transform: translateX(100%);
  transition: transform 0.3s ease;

  background: #fff;
}

.currentStep {
  position: absolute;
  top: 50px;
  left: 32px;

  z-index: 1;

  .title {
    display: flex;
    align-items: center;
    gap: 4px;

    color: #ac5331;
    font-weight: 600;
    font-size: 14px;

    cursor: pointer;
  }
}

.opened {
  transform: translateX(0);
}
