.swatchItem {
  display: flex;
  align-items: center;
  gap: 4px;

  padding: 8px 16px;

  border: 1px solid #bc7358;
  border-radius: 30px;

  background-color: transparent;
  color: #000;

  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;

  > div {
    display: flex;
    align-items: center;
  }
}

.active {
  border-color: #bc7358;
}
