.filterRow {
  div:nth-child(2) {
    flex-grow: 1;
  }
}

@media (max-width: 767px) {
  .filterRow {
    div:nth-child(1),
    div:nth-child(2) {
      flex: 1 1 calc(50% - 4px);
      max-width: calc(50% - 4px);
    }
  }
}
