.rightContent {
  position: absolute;
  bottom: 100%;
  left: 0;
  transform: translate(-95%, 0%);

  z-index: 100;
}

@media (max-width: 1024px) {
  .rightContent {
    bottom: 0%;
    transform: translate(-86%, 101%);
  }
}
