.modelDetails {
  padding: 20px;
}

.detailsDimensions {
  display: flex;
  align-items: center;
  gap: 20px;

  margin-bottom: 40px;

  .imageWithMarkers {
    position: relative;
    width: 250px;
  }

  .image {
    width: 250px;
    height: 250px;
    background-color: #fbfaf9;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 185px;
    }
  }
}

.imageMarkers {
  position: absolute;
  left: 50%;
  width: 185px;
  height: 20px;
  transform: translateX(-50%);
  pointer-events: none;
}

.imageMarkerIcon {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 16px !important;
  height: 16px !important;

  font-size: 11px !important;
}

.title {
  color: #282828;
  font-size: 14px;
}

.dimensions_titleBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-bottom: 20px;
}

.dimensionsBreakdown {
  h4 {
    margin-bottom: 8px;
  }

  ul {
    li {
      list-style: none;
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.breakdownItem {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #282828;
  font-size: 12px;
}

.stepIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ac5331;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  flex-shrink: 0;
}

.detailsDescription {
  display: flex;
  align-items: start;

  gap: 35px;

  > div {
    h4 {
      margin-bottom: 20px;
    }

    ul {
      margin-left: 20px;
    }
  }
}
