// Popup
.instrPopup {
  width: min(420px, calc(100vw - 32px));
  max-height: calc(100vh - 32px);
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  border-radius: 10px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #e5e6ea;

    .title {
      color: #282828;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
    }

    .button {
      display: flex;
      align-items: center;
      border: 0;
      background: transparent;
      padding: 0;

      cursor: pointer;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 0;

    border-bottom: 1px solid #e5e6ea;

    flex-grow: 1;

    gap: 15px;
  }

  .contentBlock {
    .contentBlock_img {
      text-align: center;
      width: min(100%, 280px);
      margin: 0 auto;

      img {
        width: 100%;
      }
    }
  }

  .footer {
  }
}

.header,
.content,
.footer {
  padding: 20px;
}

@media (max-width: 430px) {
  .instrPopup {
    width: calc(100vw - 24px);
    max-height: calc(100vh - 24px);
  }

  .contentBlock_img {
    img {
      max-width: 100%;
    }
  }

  .header,
  .content,
  .footer {
    padding: 15px;
  }
}

.contentBlock_title {
  margin-bottom: 22px;
}
