:root {
  --font-family-base:
    "Sen", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  --font-weight-base: 500;
  --font-size-base: 14px;
  --line-height-base: 1.5;
  --text-color-base: #282828;
  --text-color-error: #ff5a5a;

  --border-main-color: #e5e6ea;
  --color-text-placeholder: #d2d7da;
  --player-bg: #fbfaf9;

  --main-header-height: 109px;
  --header-top-bg: #f2eee8;
  --main-header-bg: #ffffff;
  --header-banner-bg: #c87f66;
}
