.configSidebar {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  overflow: hidden;

  border-left: 1px solid #e5e6ea;
}

.stepContent {
  flex: 1;
  min-height: 0;
  overflow-y: auto;

  margin-bottom: 60px;

  // max-height: 822px;
}

// @media (max-width: 1536px) {
//   .stepContent {
//     max-height: 550px;
//   }
// }

// @media (max-width: 1366px) {
//   .stepContent {
//     max-height: 480px;
//   }
// }

// @media (max-width: 1280px) {
//   .stepContent {
//     max-height: 470px;
//   }
// }
