.instrPopup {
  width: 525px;
  background-color: #fff;

  border-radius: 10px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #e5e6ea;

    .title {
      color: #282828;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
    }

    .button {
      display: flex;
      align-items: center;

      cursor: pointer;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    border-bottom: 1px solid #e5e6ea;
  }

  .contentBlock {
    .contentBlock_img {
      text-align: center;
    }
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    > div {
      padding: 20px;

      &:first-child {
        border-right: 1px solid #e5e6ea;
      }
    }
  }
}

.header,
.content {
  padding: 20px;
}

@media (max-width: 430px) {
  .instrPopup {
    width: 389px;
  }
}
