.swatchesGrid {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.extraBlock {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.checkbox {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  font-size: 14px;
  color: #000;
}

.helper {
  margin: 0;
  font-size: 13px;
  color: #bc7358;
}
